.send__container {
  display: flex;
  flex-shrink: 0;
  li {
    background: #e6eaee;
    padding: 10px;
  }

  .send__form {
    flex-grow: 1;
    display: flex;
    margin: 2px;
  }
  @media (max-width: 600px) {
    flex-direction: column;

    .button__location {
      margin-right: 0;
      width: 100px !important;
    }
  }
}

.send__input {
  margin-bottom: 0 !important;
}

.button__chatter {
  cursor: pointer;
  padding: 10px;
  margin: 0 5px;
}
